
html{
  overflow: hidden;
}




body{
  /* border-style: solid; */
  /* padding: 5px 2px 5px 5px; */

  position:absolute;
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;

  /* text-align: center; */
}

#background-image{
  position:absolute;
  width:100%;
  height:100%;
  background-image: url(assets/SpaceBG.jpg); 
  background-position: center;
  background-size: cover; 

}

#background-overlay{
  position:absolute;
  width:100%;
  height:100%;
  background-color:#67178254; 

}

#background-pattern{
  position:absolute;
  width:100%;
  height:100%;

  background-color: #9ed0ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(86,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23230042'/%3E%3Cstop offset='1' stop-color='%23ffffff'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='16' height='16' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%239ed0ff' cx='8' cy='8' r='8'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.05'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.25

}

#welcome-div{
  /* display:inline-block;
  position: relative;
  left: 30%;
  top: 30%; */


  position:absolute;
  width: 100%;
  height: 100%;
  display: flex; 
  align-items: center;
  justify-content:center;

}


.hidden {
  display: none;
  z-index: 1;
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70%;
  z-index: 1;
}

#container {
  display: none;
  grid-template-columns: 21em 70%;
  grid-template-rows: 14em 9em;
  column-gap: 5px;
  row-gap: 5px;
  /* justify-items: stretch; */
  width:100%;
  height:auto;
  z-index: 1;
}

#task-div-holders {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    z-index: 1;
    
}
#completed-tasks {
  grid-column-start: 2;
  z-index: 1;
}

#user-stuff {
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 1;
  
}

#session-div {
  grid-column-start: 2;
  text-align: center;
  z-index: 1;
}


#advice {
  text-align: center;
  z-index: 1;
}

div > div {
  border-color: green;
}

div > ul {
  border-color: red;
}

div > form {
  border-color: blue;
}







/* from skeleton copy 


.logo{
  text-align: center;
  background-color: rgb(49, 109, 179);
}

#character-bar {
  height: 15vh;
  background: rgb(49, 109, 179);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
}

#character-bar span {
  padding: 1%;
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  align-items: center;
  border-radius: 2em;
  border: 1px solid white;
}

.characterInfo{
  height: 550px;
  padding: 30px;
  font-size: 24px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: dotted;
  text-align: center;
}

input[type="submit"], button{
  background-color: rgb(49, 109, 179);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"]{
  height: 4vh;
  font-size: 3vh;
}

#image{
  width: 300px;
  height: 300px;
} */
