body *{
  border-style: solid;
  padding: 5px 5px 5px 5px
}

.hidden {
  display: none;
}

#container {
  display: inline-grid;
  grid-template-columns: 21em 70%;
  grid-template-rows: 9em 9em;
  column-gap: 10px;
  row-gap: 10px;
  /* justify-items: stretch; */
  width:100%;
  height:100%;
}

#task-div-holders {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px
}
#completed-tasks {
  grid-column-start: 2;
}

#welcome-div{
  display:inline-block;
  position: relative;
  left: 30%;
  top: 30%;
  text-align:center;
}

#user-stuff {
  grid-row-start: 1;
  grid-column-start: 1;
}

#button-div {
  grid-column-start: 2;
}


#advice {
  text-align: center;
}

div > div {
  border-color: green;
}

div > ul {
  border-color: red;
}

div > form {
  border-color: blue;
}







/* from skeleton copy 


.logo{
  text-align: center;
  background-color: rgb(49, 109, 179);
}

#character-bar {
  height: 15vh;
  background: rgb(49, 109, 179);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
}

#character-bar span {
  padding: 1%;
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  align-items: center;
  border-radius: 2em;
  border: 1px solid white;
}

.characterInfo{
  height: 550px;
  padding: 30px;
  font-size: 24px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: dotted;
  text-align: center;
}

input[type="submit"], button{
  background-color: rgb(49, 109, 179);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"]{
  height: 4vh;
  font-size: 3vh;
}

#image{
  width: 300px;
  height: 300px;
} */
